.header {
	margin: 10px;
	display: inline-block;
}

.profile-Image {
	width: 100px;
	float: left;
}

.headerName {
	float: right;
	vertical-align: top;
}

.container {
	padding: 10px;
}

img {
	width: 80%;
}

.navbar-header img {
	margin: 10px;
	width: 100px;
	height: 100px;
}